body {
    font: normal 25px Arial;
    margin:auto;
    text-align:center;
    background-size: cover;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.473);
    width: 800px;
    margin:auto;
    padding: 20px;
}

header > h1 {
    color: white;
    font-style: bold;
}

footer > p {
    color:white;
}
div#daytime {
    margin:auto;
}


img {
    width: 400px;
    height: 400px;
}

#botao {
    display: block;
}